<h1>About the Course</h1>
<header>
    <nav>
        <ul style="border-radius: 5px;">
            <li><a href="/">Home</a></li>
            <li><a href="/">Test</a></li>
        </ul>

    </nav>
</header>

<style>
    body {
        background-color: gold;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover{
        color: red;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }

    .active {
        background-color: #04AA6D;
    }
</style>